<!DOCTYPE html>
<html lang='en'>
 <head>
   <meta charset='utf-8'>
   <title> Chat </title>
 </head>
 <body>
   <div id="container">
     <form id="chat-form">
       <textarea id="chat-messages" name="chat-messages"></textarea>
       <input type="text" name="chat-input" id="chat-input"/>
       <button type="submit">Send Message</button>
     </form>
   </div>
   <script src='/socket.io/socket.io.js'> </script>
   <script src="javascripts/lib/jquery-1.8.3.js"></script>
   <script src='javascripts/app/chat.js'></script>
   <script src='javascripts/app/main.js'></script>
 </body>
</html>

